package matter

config struct 'values'
        option wifi_iface 'null'

config wifi_network_management 'wifi_network_management'
        option passphrase_surrogate '0'
        option ssid 'null'

config thread_border_router_management 'thread_border_router_management'
        option thread_version '5'
        option interface_enabled '0'
        option active_dataset_timestamp '0'
        option pending_dataset_timestamp '0'
        option border_router_name 'br-test._meshcop._udp'
        option border_agent_id 'null'

config thread_network_directory 'thread_network_directory'
        option preferred_extended_pan_id 'null'
